.project_box {
  .tags {
    opacity: 0;
    animation: hej 3s ease-out forwards;
    animation-delay: 1s;
  }
  img {
    opacity: 0;
    animation: hej 3s ease-out forwards;
    animation-delay: 1s;
    border-radius: 5px;
  }
  h2{
    opacity: 0;
    animation: in 3s ease-out forwards;
    animation-delay: 1s;
    text-transform: uppercase;
  }
  .content {
    padding: 20px;

    p {

      opacity: 0;
      animation: hej 3s ease-out forwards;
      animation-delay: 1s;
    }
  }
  .single {
    width: 100%;
    height: auto;
  }
  .comment{
    background-color: #fff;
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: left;
    margin-top: 30px;
    padding: 30px;
    border: 1px solid #d3e0e9;
    border-radius: 10px;
    box-shadow: 0px 0px 92px 0px #9f4a2d;
    h4 {
      font-weight: bold;
      position: absolute;
      top: 0px;
      left: 20px;
      opacity: 0;
      animation: in 3s ease-out forwards;
      animation-delay: 1s;
    }
    p {
      margin: 30px;
      opacity: 0;
      animation: hej 3s ease-out forwards;
      animation-delay: 1s;

    }
    span.glyphicon {
      top: 40px;
    }
    span {
      position: absolute;
      right: 20px;
      top: 10px;
      opacity: 0;
      animation: hej 3s ease-out forwards;
      animation-delay: 1s;
    }
    .icon {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 20px;
      color: red;

    }

  }
  h3 {
    border-bottom: 1px solid #d3e0e9;
    width: 100%;
    padding-bottom: 30px;
    margin-top: 30px;
    opacity: 0;
    animation: in 3s ease-out forwards;
    animation-delay: 1s;
  }

  form {
    margin-top: 30px;
  }

}
@keyframes in{
  0%{
    letter-spacing: -17px;
    opacity: 0;
  }
  30%{
    letter-spacing: 4px;
    opacity: 1;
  }
  100%{
    letter-spacing: 4px;
    opacity: 1;
  }
}
@keyframes hej{
  0%{

    opacity: 0;
  }
  50%{

    opacity: 1;
  }
  100%{

    opacity: 1;
  }
}

.lala {
  .tags {
    color: #b2b2b3;
  }
  h2 {
    color: #A2482E;
  }
  h3 {
    color: #A2482E;
  }
  p.desc {
    color: #fff;
    letter-spacing: 2px;
  }
}

h1.amazing{
  margin-top: 30%;
  font-size: 172px;
  color: black;
  font-weight: bold;
   text-shadow: 0px 0px 44px #A2482E;
}
