nav.navbar{
  background-color: #141311;
  border-color: #A2482E;
  margin-bottom: 0px;
  a {
    color: #A2482E!important;
  }
}
body {
  background-color: #150703;
}

.jibbedish {
  box-shadow: 0px 0px 10px 0px #9f4a2d;
  border-radius: 10px;
  a {
    color: #A2482E!important;
  }
}

.admin {
  background-color: #fff;
  padding: 100px;
  height: 100%;
}
